<%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %>
<table class="table">
	<tbody>
		<tr>
			<th>name</th>
			<th><%= user.name %></th>
		</tr>
		<tr>
			<th>introduction</th>
			<th><%= user.introduction %></th>
		</tr>
		<tr>
			<th>follows</th>
			<th>
				<%= link_to follows_path(user) do %>
					<%= user.followings.count %>
				<% end %>
			</th>
		</tr>
		<tr>
			<th>followers</th>
			<th>
				<%= link_to followers_path(user) do %>
					<%= user.followers.count %>
				<% end %>		
			</th>
		</tr>
	</tbody>
</table>

<% if current_user == user %>
	<div class="row">
		<%= link_to edit_user_path(user), class:"btn btn-default btn-block" do %>
			<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
		<% end %>
	</div>
<% end %>

<% unless current_user == user %>
	<% if current_user.following?(user) %>
		<%= link_to 'フォロー外す', user_relationships_path(user), class:"btn btn-success", method: :delete %>
	<% else %>
		<%= link_to 'フォローする', user_relationships_path(user), class:"btn btn-primary", method: :post %>
	<% end %>
<% end %>
<br>